<div style="line-height: 25px">
    <h1 class="product-title"> UPLOAD YOUR ARTWORK</h1>
    <!-- Tab panes -->
    <div class="tab-content clearfix">
        <div class="tab-pane active" id="details">*Photos must be in jpeg or PDF format.<br>*Resolution must be 300 dpi/ppi or higher.
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="cartFooter w100">
    <div class="box-footer">
        <div class="pull-right">
            <a ui-sref="public.campaignwizard.goal({campaign: vm.campaign})" ng-disabled="vm.getState() < 1" prevent-click="vm.getState() < 1" class="btn btn-primary btn-small"> Next Step &nbsp; <i class="fa fa-arrow-circle-right"></i> </a></div>
    </div>
</div>
